certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
isodate==0.6.1
lxml==4.8.0
numpy==1.22.3
Pillow==9.1.0
pip==22.0.4
pyparsing==3.0.8
rdflib==6.1.1
requests==2.27.1
setuptools==58.1.0
six==1.16.0
urllib3==1.26.9